*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('images/Detective-Conan-detective-conan-12106844-640-480.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
}

.memory-game{
    width:  70vw;
    height: 640px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.memory-card{
    width: 160px;
    height: 190px;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip{
 transform: rotateY(180deg)
}
.front-face, .back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: #041d31;
    backface-visibility: hidden;
}
.front-face{
    transform: rotateY(180deg);
}
